<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.fikribir.medical_guide"
    version     = "0.0.2" >
		
    <name>MedicalGuide</name>
	
    <description>
        Antalya Medical Guide Application
    </description>
	
    <author email="posta@fikribir.com" href="http://fikribir.com">
        Fikribir Application Team
    </author>
	
    <content src="index.html" />
	
    <access origin="*" />
	
	<preference name="orientation" value="portrait" />
	<preference name="android-windowSoftInputMode" value="adjustResize" />
	<preference name="androidLaunchMode" value="singleTop" />
	<preference name="permissions" value="none"/>
	
    <icon src="res/ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />
</widget>